[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
coverage = "*"
djangorestframework = "*"
drf-spectacular = "*"
psycopg2-binary = "*"
drf-nested-routers = "*"
django-mock-queries = "*"
django-extensions = "*"
json-log-formatter = "*"
ujson = "*"
logging-utilities = "*"
django-structlog = "*"
django-filter = "*"
django-sendgrid-v5 = "*"
channels = "*"

[dev-packages]
autopep8 = "*"
pandas = "*"
openpyxl = "*"
pylint-django = "*"
django-stubs = "*"
factory-boy = "*"

[requires]
python_version = "3.9"
